* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 20rem;
}
.navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e8e8e8;
  width: 40%;
  font-size: 22px;
  list-style: none;
}
.nav-link {
  color: #e8e8e8;
  text-decoration: none;
}
.nav-link.active {
  color: #000000;
}
.header1 {
  font-size: 32px;
  display: flex;
  justify-content: flex-start;
}
.house {
  background-color: #f6f6f6;
  min-height: 100%;
}
.create {
  background: url(../src/pictures/ic_plus_white.png) no-repeat;
  background-position: bottom 13px left 15px;
  display: flex;
  padding: 10px 46px;
  width: 220px;
  text-transform: uppercase;
  background-color: #eb5440;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.headerCreate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10rem;
  padding-top: 35px;
}

.houseImg {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.input {
  background: url(../src/pictures/search.png) no-repeat;
  background-position: 30px 10px;
  background-color: #e8e8e8;
  display: flex;
  margin: 25px 10rem;
  padding: 10px 70px;
  border-radius: 10px;
  font-family: Open Sans Regular;
  font-size: 14px;
  border: none;
  width: 450px;
}
.input::placeholder {
  color: #c3c3c3;
  font-family: Montserrat;
}
.houseInfo {
  background-color: #ffffff;
  margin: 15px 10rem;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.aboutHouse {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.street {
  padding-left: 15px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: bold;
}
.price {
  font-family: Montserrat;
  padding: 10px 15px;
  font-size: 16px;
}
.city {
  padding-left: 15px;
  color: #c3c3c3;
  font-family: Montserrat;
  font-size: 16px;
}
.insideHouse {
  padding: 15px;
  display: flex;
}
.bed {
  background: url(../src/pictures/ic_bed.png) no-repeat;
  background-position: 3px;
  padding-left: 40px;
  padding-right: 10px;
  display: flex;
}
.bath {
  background: url(../src/pictures/ic_bath.png) no-repeat;
  background-position: 3px;
  padding-left: 40px;
  padding-right: 10px;
  display: flex;
}
.size {
  background: url(../src/pictures/ic_size.png) no-repeat;
  background-position: 3px;
  padding-left: 40px;
  padding-right: 10px;
  display: flex;
}
.showing-items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 15px;
}
.edit {
  padding-right: 20px;
}

.input-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.by {
  display: flex;
  margin-right: 160px;
}
.by-price,
.by-size {
  width: 140px;
  height: 40px;
  font-family: Montserrat;
  font-weight: bold;
  color: #ffffff;
  background-color: #c3c3c3;
  border: none;
  cursor: pointer;
}
.by-price {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.by-size {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.by-price.active,
.by-size.active {
  background-color: #eb5440;
}

.create-post {
  margin: 15px 0px 0px 0px;
  background-image: url(../src/pictures/img_background.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100%;
  padding-top: 35px;
  width: 100%;
}

.back {
  background: url(../src/pictures/ic_back_grey.png);
  background-repeat: no-repeat;
  margin: 55px 20rem;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bold;
  color: #000000;
  padding-left: 40px;
}
h2 {
  font-family: Montserrat;
  font-weight: bold;
  margin: 35px 20rem;
  font-size: 26px;
}

.single-input input,
.two-inputs input,
.garage,
.text-area {
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  color: #4a4b4c;
}
.single-input input.empty,
.two-inputs input.empty {
  border: 1px solid #eb5440;
}

label {
  font-size: 14px;
  width: 100px;
  margin-top: 10px;
}
input::placeholder {
  font-family: Montserrat;
  padding: 15px;
  color: #c3c3c3;
}
.garage {
  font-family: Montserrat;
  color: #4a4b4c;
  padding-left: 5px;
}
.text-area {
  height: 150px;
  font-family: Montserrat;
  font-size: 14px;
  color: #4a4b4c;
  padding-left: 15px;
  padding-top: 15px;
}
.empty {
  border: 1px solid #eb5440;
}

.all-inputs {
  width: 40vw;
  margin-left: 20rem;
}
.single-input {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: bold;
  color: #4a4b4c;
  width: 60%;
  font-size: 14px;
}
.two-inputs-holder {
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  font-weight: bold;
  color: #4a4b4c;
  justify-content: space-between;
  align-items: flex-start;
  width: 24vw;
}

.two-inputs {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
}

.button-post {
  width: 220px;
  height: 50px;
  text-transform: uppercase;
  background-color: #eb5440;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15rem;
  margin-top: 20px;
}
.dotted {
  cursor: pointer;
  display: flex;
  border: 1px dotted #000000;
  padding: 50px;
  border-radius: 5px;
  margin: 10px 0;
  max-width: 100px;
  height: 100px;
}

input[type="text"] {
  font-family: Montserrat;
  font-size: 14px;
  color: #4a4b4c;
}
.single-input > input[type="file"] {
  display: none;
}
.remove {
  position: absolute;
  bottom: 24.8%;
  left: 20.8%;
  cursor: pointer;
}

.error-message {
  font-family: Monserrat;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  color: #eb5440;
  padding: 5px;
}
