* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
  justify-self: start;
  align-items: center;
  padding-left: 15.75rem;
}
.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 32px;
  padding-left: 10rem;
}
